<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
    <div class="container">
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div>
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1>order List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>
                <td><a href="{{ url_for('admin_details_order', order_id=order[0]) }}">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('admin_add_order') }}">
        <button class="positive-button">Add New order</button>
    </a>
    </div>
</body>
</html>
