<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <a href="{{ url_for('admin_item_list') }}">Back to Item List</a> 
        <br>

        <form action="{{ url_for('admin_update_item', item_id=item[0]) }}" method="POST" enctype="multipart/form-data">
            <button type="submit" class="positive-button">Save Changes</button>
            <button type="button" class="negative-button" onclick="confirmDelete()">Delete Item</button>
        
            <br>
            <br>
            <div class="item-details">
                <h1>Edit Item: {{ item[1] }}</h1>  <!-- item[1] is the title -->
                
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="{{ item[1] }}" required>

                <label for="price">Price</label>
                <input type="number" id="price" name="price" value="{{ item[2] }}" step="0.01" required>  <!-- item[2] is the price -->

                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" value="{{ item[3] }}" required>  <!-- item[3] is the quantity -->

                <label for="description">Description</label>
                <textarea id="description" name="description" required>{{ item[4] or '' }}</textarea>  <!-- item[4] is the description -->

                <h2>Images</h2>
                <div class="images-grid">
                    {% for image in images %}
                    <div>
                        <img src="{{ url_for('static', filename='images/' + image[0]) }}" alt="Image for {{ item[1] }}">
                        <label for="image_{{ image[1] }}">Modify image</label>
                        <input type="file" id="image_{{ image[1] }}" name="{{ image[1] }}">
                        <button type="button" class="negative-button" onclick="confirmDeleteImage({{ item[0] }}, {{ image[1] }})">Delete Image</button>
                    </div>
                    {% endfor %}
                </div>

                <div class="image-uploads">
                </div>
                <button type="button" id="add-image-button" class="positive-button">Add Image</button>
            </div>
            <button type="submit" class="positive-button">Save Changes</button>
        </form>
    </div>

    <script>
        document.getElementById('add-image-button').addEventListener('click', function() {
            const imageUploadsDiv = document.querySelector('.image-uploads');
            const imageCount = {{ next_image_slot }};
            const newImageLabel = document.createElement('label');
            newImageLabel.setAttribute('for', 'image' + imageCount);
            newImageLabel.textContent = 'Image ' + imageCount + ':';
            
            const newImageInput = document.createElement('input');
            newImageInput.setAttribute('type', 'file');
            newImageInput.setAttribute('id', 'image' + imageCount);
            newImageInput.setAttribute('name', imageCount);
            
            imageUploadsDiv.appendChild(newImageLabel);
            imageUploadsDiv.appendChild(newImageInput);
            imageUploadsDiv.appendChild(document.createElement('br'));
        });

        async function confirmDelete() {
            if (confirm("Are you sure you want to delete this item?")) {
                window.location.href = "{{ url_for('admin_delete_item', item_id=item[0]) }}";
            }
        }

        async function confirmDeleteImage(item, slot) {
            if (confirm("Are you sure you want to delete this image?")) {
                window.location.href = `/admin/image_delete/${item}/${slot}`;
            }
        }

    </script>
</body>
</html>
