<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
    <style>
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div>
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1>Item List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td><a href="{{ url_for('admin_details_item', item_id=item[0]) }}">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('admin_add_item') }}">
        <button class="positive-button">Add New Item</button>
    </a>
    </div>
</body>
</html>
