<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Order Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <a href="{{ url_for('admin_order_list') }}">Back to order list</a> 
        <br>

        <form action="{{ url_for('admin_update_order', order_id=order[0]) }}" method="POST" enctype="multipart/form-data">
            <button type="submit" class="positive-button">Save Changes</button>
            <button type="button" class="negative-button" onclick="confirmDelete()">Delete order</button>
        
            <br>
            <br>
            <div class="generic-detail">
                <h1>Edit order: {{ order[0] }}</h1>  <!-- order[1] is the title -->
                
                <label for="customer">Customer: {{ order[1] }}</label>
                <label for="total">Total: {{ order[2] }}</label> <!-- order[2] is the total -->

                <label for="description">Description: {{ order[3] or '' }}</label>
            </div>
            <button type="submit" class="positive-button">Save Changes</button>
        </form>
    </div>

    <script>
        async function confirmDelete() {
            if (confirm("Are you sure you want to delete this order?")) {
                window.location.href = "{{ url_for('admin_delete_order', order_id=order[0]) }}";
            }
        }
    </script>
</body>
</html>
